langchain
ipykernel
#  pip install -r requirements.txt
python-dotenv
langchain_groq
langchain_core
fastapi
uvicorn
langserve[all]
streamlit
langchain_community
langchain_chroma
langchain_huggingface
bs4
langchain_community
langchain_ollama
arxiv
wikipedia
pymupdf
validators
youtube_transcript_api
unstructured
pytube
yt-dlp
